@use "styles/variables";

.nav {
  margin-right: 10vw;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  margin-bottom: -11px;
  margin-top: 10px;
  gap: 37px;
  // Properties for larger screens
  @media (min-width: variables.$breakpoint-tablet) {
    margin-top: 5px;
    height: 50px;
    align-items: center;
    padding-bottom: 2px;
    margin-right: 40px;
    gap: 20px;
  }
}

.navItem {
  color: variables.$color-accent;
  cursor: pointer;
  font-family: variables.$milligram;
  font-weight: 800;
  font-size: variables.$font-large;
  @media (min-width: variables.$breakpoint-tablet) {
    margin-bottom: 14px;
    color: variables.$color-accent;
    display: inline-block;
    position: relative;
    z-index: 1;
    &:hover {
      color: variables.$color-accent;
    }
  }
}

.underline {
  margin-top: 3px;
  width: 62px;
  height: 4px;
  background: variables.$color-accent;
  opacity: 0.85;
  transform: scaleX(-1);
}

.contentMode {
  @media (min-width: variables.$breakpoint-tablet) {
    position: sticky;
    top: 0;
  }
}
