@use "styles/variables";

.mainContent {
  flex-direction: column;
  padding-top: 20px;
  @media (min-width: variables.$breakpoint-small-laptop) {
    padding-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    margin: auto;
    justify-content: center;
  }
}

.title {
  font-family: variables.$milligram;
  color: variables.$color-accent;
  font-size: variables.$font-xxlarge;

  // Properties for larger screens
  @media (min-width: variables.$breakpoint-small-laptop) {
    font-size: variables.$font-xxxlarge;
    margin-bottom: 15px;
    width: 100%;
  }

  //fold
  @media (max-width: 290px) {
    font-size: 2.5rem;
  }
}

.dataItemContainer {
  display: flex;
  height: 40px;
  margin-left: -18px;
  margin-bottom: 10px;
  width: 100vw;

  @media (min-width: variables.$breakpoint-small-laptop) {
    margin-bottom: 0px;
    margin-top: 0px;
    width: initial;
  }

  p:nth-child(1) {
    font-family: variables.$space-mono;
    color: variables.$color-accent;
    filter: brightness(1);
    border-left: none;
    text-transform: lowercase;
    margin-top: 10px;

    @media (min-width: variables.$breakpoint-small-laptop) {
      margin-top: 9px;
    }
  }
}

.dataItem {
  color: variables.$color-accent;
  font-size: variables.$font-medium;
  font-family: variables.$space-mono;
  margin-top: 10px;
  padding: 0 20px;
  border-left: 1px solid grey;
  filter: brightness(0.5);
  font-weight: light;
  // Properties for larger screens
  @media (min-width: variables.$breakpoint-small-laptop) {
    font-size: variables.$font-large;
  }
}

.leftContentContainer {
  margin-top: 320px;
  @media (min-width: variables.$breakpoint-small-laptop) {
    width: 1000px;
    height: 1000px;
    margin-top: -120px;
    padding-bottom: 10rem;
    padding-top: 120px;
    position: sticky;
    top: 0;
    height: 50%;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: variables.$breakpoint-small-laptop) {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
}

.image {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 60px;
  max-height: 270px;
  object-fit: cover;
  object-position: center;

  @media (min-width: variables.$breakpoint-small-laptop) {
    position: relative;
    left: initial;
    top: initial;
    max-height: 540px;
    width: initial;
    min-height: 100%;
  }
}

.rightContentContainer {
  @media (min-width: variables.$breakpoint-small-laptop) {
    max-width: 900px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 3rem;
  }
}

.content {
  min-width: 80%;
  max-width: 950px;
  color: variables.$color-accent;
  font-family: variables.$space-mono;
  @media (min-width: variables.$breakpoint-small-laptop) {
    padding-top: 110px;
    width: 100%;
    margin-left: 5%;
    max-width: 1000px;
    font-size: variables.$font-medium;
    padding-bottom: 3rem;
  }
}
