@use "styles/variables";

.main {
  @media (min-width: variables.$breakpoint-tablet) {
    min-width: 100vw;
  }
}

.homeSection,
.blogSection {
  min-height: 100vh;

  @media (min-width: variables.$breakpoint-tablet) {
    min-height: 80vh;
    margin-bottom: 0;
  }
}

.blogSection {
  display: flex;
  flex-direction: column;
  margin: auto;

  @media (min-width: variables.$breakpoint-tablet) {
    transform: scale(0.85);
    justify-content: center;
    margin: 200px auto;
    margin-bottom: 100px;
    width: 80%;
    max-width: 1400px;
    gap: 30px;
    flex-direction: column;
  }
}

.blogTitle {
  font-family: variables.$space-mono;
  font-size: 40px;
  color: variables.$color-accent;
  margin-left: 11px;
  margin-bottom: -22px;
  z-index: 300;
  transform: rotate(-1.8deg);
  filter: brightness(0.5);

  @media (min-width: variables.$breakpoint-tablet) {
    margin-left: 38px;
    margin-bottom: -62px;
    font-size: variables.$font-xxxlarge;
    transform: rotate(-1.8deg);
    letter-spacing: -2px;
  }
}

.blogPostsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: variables.$breakpoint-tablet) {
    flex-direction: row;
  }
}
