@use "styles/variables";

.main {
  @media (min-width: variables.$breakpoint-tablet) {
    min-width: 100vw;
    overflow-x: hidden;
  }
}

.homeSection,
.blogSection {
  height: 100vh;
  margin-bottom: 0;
}
