@use "styles/variables";

.content {
  max-width: 80vw;
  margin: auto;
  // Properties for larger screens
  @media (min-width: variables.$breakpoint-tablet) {
    max-width: 70%;
    margin-left: 0;
  }
}
