@use "styles/variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 30px;
  margin: 0;
  padding: 0;

  @media (min-width: variables.$breakpoint-tablet) {
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;

    #element::-webkit-scrollbar {
      display: none;
    }
  }
}

.cardContainer {
  @media (min-width: variables.$breakpoint-tablet) {
  }
}

.cardTitle {
  font-family: variables.$milligram;
  font-size: variables.$font-xlarge;
  color: variables.$color-accent;

  @media (min-width: variables.$breakpoint-tablet) {
    font-size: variables.$font-xxlarge;
    min-height: 200px;
    max-width: 400px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cardImage {
  height: 145px;
  width: 100%;
  object-fit: cover;
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  cursor: pointer;

  @media (min-width: variables.$breakpoint-tablet) {
    height: 600px;
    min-width: 300px;
    max-width: 400px;
    min-height: 365px;
    background-color: variables.$color-accent;
    user-select: none;
    object-position: left;
  }
}
