@use "styles/variables";

.container {
  width: 100%;
  justify-content: center;

  @media (min-width: variables.$breakpoint-tablet) {
  }
}

.cardsTitle {
  color: variables.$color-accent;
  font-size: variables.$font-small-headings;
  font-family: variables.$space-mono;
  filter: brightness(0.5);
  margin-left: 1px;
  padding-bottom: 1px;
  letter-spacing: -1px;
  font-weight: light;
  text-transform: lowercase;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}
