@use "styles/variables";

.mainContainer {
  width: 100%;
  transition: 0.7s;
  margin-top: -60px;

  @media (min-width: variables.$breakpoint-tablet) {
    &:hover {
      transform: scale(1.025);
      transition: 0.5s;
      h3 {
        filter: drop-shadow(0px 2px 2px #212121);
      }
      p:nth-child(2) {
        color: variables.$color-accent-2;
      }
    }
  }
}

.imageContainer {
  position: relative;
  height: 400px;
  width: 100%;
  scale: 0.95;
  transition: 0.5s;
  @media (min-width: variables.$breakpoint-tablet) {
    margin-top: 70px;
  }
}

.mainTitle {
  font-family: variables.$milligram;
  font-size: 1.7rem;
  color: variables.$color-accent;
  filter: drop-shadow(0px 2px 2px #212121);
  min-height: 20px;
  max-width: 100%;
  z-index: 10;
  position: absolute;
  left: 10px;
  pointer-events: none;
  bottom: -70px;
  @media (min-width: variables.$breakpoint-tablet) {
    font-size: variables.$font-xxxlarge;
    left: 13px;
  }
}

.mainSubtitle {
  font-family: variables.$space-mono;
  font-size: variables.$font-small-headings;
  filter: drop-shadow(0px 2px 2px #212121);
  color: variables.$color-accent;
  margin-left: 570px;
  margin-top: -60px;
  padding-bottom: 60px;
  @media (min-width: variables.$breakpoint-tablet) {
    transform: rotate3d(-1, 0.9, 0, 15deg) rotate(-1deg);
  }
}

.mainPreviewText {
  font-family: variables.$space-mono;
  font-size: variables.$font-small-headings;
  filter: drop-shadow(0px 2px 2px #212121);
  min-height: 20px;
  padding: 25px 35px 0 35px;
  color: variables.$color-accent;
  @media (min-width: variables.$breakpoint-tablet) {
    bottom: -10px;
    left: 15px;
  }
}

.mainImage {
  height: 100%;
  filter: brightness(0.68);
  object-fit: cover;

  @media (min-width: variables.$breakpoint-tablet) {
    transform: rotate3d(-1, 0.9, 0, 15deg) rotate(-1deg);
    height: 100%;
    width: 100%;
    object-fit: cover;
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    cursor: pointer;
    transition: 0.6s;
  }
}
