@import url("https://fonts.googleapis.com/css2?family=Padyakke+Expanded+One&family=Varela&display=swap");
// Font Variables
$varela: "Varela", serif;
$padyakke: "Padyakke Expanded One", cursive;

// media queries
$breakpoint-tablet: 800px;

// // light mode colors
// $color-primary: #e6e6e6;
// $color-secondary: #f6f6f6;
// $color-tertiary: #e6e6e6;
// $color-fontColor: #000;
// $color-btnFontColor: #fff;
// $color-accent: #f06c00;

//dark mode colors
$color-primary: #121212;
$color-secondary: #181818;
$color-tertiary: #282828;
$color-light: #939393;
$color-fontColor: #d8e1ed;
$color-secondaryFontColor: #d8e1ed;
$color-btnFontColor: #fff;
$color-BtnHover: #ffffff;
$color-accent: #3dffc5;

// font sizes
$font-regular: 15px;
$font-medium: 17px;
$font-large: 20px;
